In [1]:
# import libraries

import pandas as pd
import geopandas as gpd
import movingpandas as mpd

In [2]:
# load data from the csv in the data directory
    #df = pd.read_csv('../data/geolife_small.csv', delimiter=';')
    #df

df = pd.read_csv('../data/moving_people_data.csv', delimiter=';')

df

  ID\tPerson\tCity\tState\tCountry\tStart_Date\tlat\tlon
0  1\tIda\tKurikka\t\tFinland\t1888\t62.616816\t2...
1  2\tIda\tBayfield\tWisconsin\tUnited States\t19...
2  3\tIda\tIronwood\tMichigan\tUnited States\t193...
3  4\tConstance\tBayfield\tWisconsin\tUnited Stat...